
<section id="graph">
    <div id="sensor-graph" style="width:100%; height:280px;">
    </div>

    <div id="sensor-hover-data" style="width:50%;margin:auto;">
        <table id="hover-data" class="display">
            <thead>
            <tr>
                <th width="160px">Date</th>
                <th width="80px">Humidity</th>
                <th width="80px">Fahrenheit</th>
                <th width="80px">Celsius</th>
                <th width="80px">Light</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="tabledata" style="padding-top:15px;">
    <table id="data" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Arduino</th>
                <th>Elapsed Minutes</th>
                <th>Year</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>Fahrenheit</th>
                <th>Humidity</th>
                <th>Light</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</section>

@section scripts {
    <script type="text/javascript">
        currentData = [];
        minutes = @ViewBag.Count;
        timeBased = @ViewBag.TimeBased.ToString().ToLower();
        api = '@Url.Content("~")' + '@ViewBag.ApiLink' + '/';
        legendLocked = false;
        lockedX = 0;
        updateLegendTimeout = null;
        latestPosition = null;

        function refreshData(min) {
            if (min !== undefined)
                window.minutes = min;
            datatable.ajax.url(api + minutes);
            datatable.ajax.reload();
            $("label#refreshTime").html(formatDate(new Date()));
        }

        function updateGraph() {
            //Clear old series data
            legendLocked = false;
            clearLegend();
            var fData = [];
            var cData = [];
            var hData = [];
            var lData = [];

            //Load the updated data
            for (var i = 0; i < currentData.length; i++) {
                fData.push([currentData[i].ElapsedMinutes, currentData[i].TempFahrenheit]);
                cData.push([currentData[i].ElapsedMinutes, currentData[i].TempCelsius]);
                hData.push([currentData[i].ElapsedMinutes, currentData[i].Humidity]);
                lData.push([currentData[i].ElapsedMinutes, currentData[i].Light]);
            }

            //Build flot charts data object
            var data = [
                {
                    data: hData,
                    label: "Humidity %",
                    lines: { show: true },
                    points: { show: false },
                    yaxis: 2
                },
                {
                    data: fData,
                    label: "Temperature °F",
                    lines: { show: true },
                    points: { show: false },
                    yaxis: 1
                },
                {
                    data: cData,
                    label: "Temperature °C",
                    lines: { show: true },
                    points: { show: false },
                    yaxis: 1
                },
                {
                    data: lData,
                    label: "Light %",
                    lines: { show: true },
                    points: { show: false },
                    yaxis: 2
                }
            ];

            var options = {
                crosshair: {
                    mode: "x",
                    color: "rgba(255, 165, 0, 0.60)"
                },
                grid: {
                    clickable: true,
                    hoverable: true,
                    autoHighlight: false
                },
                axisLabels: {
                    show: true
                },
                xaxis: {transform: function (v) { return -v; }},
                yaxes: [
                    {
                        position: "left",
                        axisLabel: "Temperature",
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        tickFormatter: function(v, axis) {
                            return v + "°";
                        },
                        min: -5,
                        max: 105
                    }, {
                        position: "right",
                        axisLabel: "Humidity / Light",
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        tickFormatter: function(v, axis) {
                            return v + "%";
                        },
                        min: 0,
                        max: 100
                    }
                ]
            };

            //Draw graph
            plot = $.plot($("#sensor-graph"), data, options);

            //Add Locking Overlay Function
            plot.hooks.drawOverlay.push(function (plot, ctx) {
                if (!legendLocked)
                    return;

                var plotOffset = plot.getPlotOffset();

                ctx.save();
                ctx.translate(plotOffset.left, plotOffset.top);

                var adj = plot.getOptions().crosshair.lineWidth % 2 ? 0.5 : 0;

                ctx.strokeStyle = "rgba(170, 0, 0, 0.40)";
                ctx.lineWidth = plot.getOptions().crosshair.lineWidth;
                ctx.lineJoin = "round";

                ctx.beginPath();
                var drawX = Math.floor(lockedX) + adj;
                ctx.moveTo(drawX, 0);
                ctx.lineTo(drawX, plot.height());
                ctx.stroke();

                ctx.restore();
            });
        }

        function updateLegend() {
            updateLegendTimeout = null;
            var pos = latestPosition;

            var axes = plot.getAxes();
            var elapsed = Math.round(Math.abs((-pos.x).clamp(axes.xaxis.min, axes.xaxis.max)));
            var index = elapsed - currentData[0].ElapsedMinutes;

            //console.log("Position: {0}, Elapsed Minutes: {1}, Index: {2}".format(pos.x, elapsed, index));

            var date = new Date(currentData[index].Date + "Z").addHours(@ViewBag.TimeZoneOffset);
            var humidity = currentData[index].Humidity;
            var fahrenheit = currentData[index].TempFahrenheit;
            var celsius = currentData[index].TempCelsius;
            var light = currentData[index].Light;

            $("#hover-data").children().find("td").eq(0).text(formatDateNoYear(date));
            $("#hover-data").children().find("td").eq(1).text(isNull(humidity) ? "--" : humidity.toFixed(2) + '%');
            $("#hover-data").children().find("td").eq(2).text(isNull(fahrenheit) ? "--" : fahrenheit.toFixed(2) + '°');
            $("#hover-data").children().find("td").eq(3).text(isNull(celsius) ? "--" : celsius.toFixed(2) + '°');
            $("#hover-data").children().find("td").eq(4).text(isNull(light) ? "--" : light.toFixed(2) + '%');
        }

        function clearLegend() {
            $("#hover-data td").html("&nbsp;");
        }

        //Bind plothover event
        $("#sensor-graph").bind("plothover", function(event, pos, item) {
            latestPosition = pos;
            if (!updateLegendTimeout && !legendLocked) {
                updateLegendTimeout = setTimeout(updateLegend, 50);
            }
        });

        //Bind plotclick event
        $("#sensor-graph").bind("plotclick", function(event, pos, item) {
            legendLocked = !legendLocked;
            if (legendLocked)
            {
                var offset = plot.offset();
                lockedX = Math.max(0, Math.min(pos.pageX - offset.left, plot.width()));
                plot.lockCrosshair(pos);
            }
            else plot.unlockCrosshair();
        });

        //Bind mouseleave event
        $("#sensor-graph").bind("mouseleave", function(event) {
            if (!legendLocked)
                updateLegendTimeout = setTimeout(clearLegend, 50);
        });

        $(document).ready(function() {
            datatable = $('#data')
                .on('xhr.dt', function(e, settings, json, xhr) {
                    currentData = json;
                    updateGraph();
                })
                .DataTable({
                    processing: true,
                    ajax: {
                        url: api + minutes,
                        dataSrc: ""
                    },    
                    language: {
                        infoEmpty: "No Sensor Data available"
                    },
                    columns: [
                        { data: 'ID', visible: false },
                        { data: 'ArduinoID', visible: false },
                        { data: 'ElapsedMinutes' },
                        { data: 'Year', visible: false },
                        {
                            data: 'Date',
                            render: function(data) { return formatDateNoYear(new Date(data + "Z").addHours(@ViewBag.TimeZoneOffset)); }
                        },
                        {
                            data: 'TempCelsius',
                            render: function(data) { return isNull(data) ? "--" : data + "°"; }
                        },
                        {
                            data: 'TempFahrenheit',
                            render: function(data) { return isNull(data) ? "--" : data + "°"; }
                        },
                        {
                            data: 'Humidity',
                            render: function(data) { return isNull(data) ? "--" : data + "%"; }
                        },
                        {
                            data: 'Light',
                            render: function(data) { return isNull(data) ? "--" : data + "%"; }
                        }
                    ],
                    order: [[2, "asc"]]
                });
            
            //Add Buttons
            $('<button id="refresh" onclick="refreshData()" style="margin-left:20px" class="btn btn-primary btn-sm">Refresh</button>').appendTo('div.dataTables_length');
            if (timeBased == true) {
                $('<button id="refresh1"  onclick="refreshData(60)"   style="margin-left:20px" class="btn btn-primary btn-sm">1 hour</button>').appendTo('div.dataTables_length');
                $('<button id="refresh2"  onclick="refreshData(120)"  style="margin-left:20px" class="btn btn-primary btn-sm">2 hours</button>').appendTo('div.dataTables_length');
                $('<button id="refresh6"  onclick="refreshData(360)"  style="margin-left:20px" class="btn btn-primary btn-sm">6 hours</button>').appendTo('div.dataTables_length');
                $('<button id="refresh24" onclick="refreshData(1440)" style="margin-left:20px" class="btn btn-primary btn-sm">1 day</button>').appendTo('div.dataTables_length');
                $('<button id="refresh48" onclick="refreshData(2880)" style="margin-left:20px" class="btn btn-primary btn-sm">2 days</button>').appendTo('div.dataTables_length');
                $('<button id="refresh48" onclick="refreshData(7 * 1440)" style="margin-left:20px" class="btn btn-primary btn-sm">1 week</button>').appendTo('div.dataTables_length');
            } else {
                $('<button id="refresh10"   onclick="refreshData(10)"    style="margin-left:20px" class="btn btn-primary btn-sm">Last 10</button>').appendTo('div.dataTables_length');
                $('<button id="refresh100"  onclick="refreshData(100)"   style="margin-left:20px" class="btn btn-primary btn-sm">Last 100</button>').appendTo('div.dataTables_length');
                $('<button id="refresh1000" onclick="refreshData(500)"   style="margin-left:20px" class="btn btn-primary btn-sm">Last 500</button>').appendTo('div.dataTables_length');
                $('<button id="refresh1000" onclick="refreshData(1000)"  style="margin-left:20px" class="btn btn-primary btn-sm">Last 1000</button>').appendTo('div.dataTables_length');
                $('<button id="refresh1000" onclick="refreshData(5000)"  style="margin-left:20px" class="btn btn-primary btn-sm">Last 5000</button>').appendTo('div.dataTables_length');
                $('<button id="refresh1000" onclick="refreshData(10000)" style="margin-left:20px" class="btn btn-primary btn-sm">Last 10000</button>').appendTo('div.dataTables_length');
            }
        });
    </script>
}
